kafka-connect:
  build:
    context: ./kafka-connect
  container_name: kafka-connect
  depends_on:
    - kafka
  ports:
    - "8083:8083"
  environment:
    CONNECT_BOOTSTRAP_SERVERS: kafka:9092
    CONNECT_REST_PORT: 8083
    CONNECT_GROUP_ID: connect-cluster-1

    CONNECT_CONFIG_STORAGE_TOPIC: connect-configs
    CONNECT_OFFSET_STORAGE_TOPIC: connect-offsets
    CONNECT_STATUS_STORAGE_TOPIC: connect-status

    CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
    CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
    CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "false"

    CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/java/plugins
  volumes:
    - ./kafka-connect/connect-distributed.properties:/etc/kafka/connect-distributed.properties
