version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 6

  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "DataQualityCluster"
      CASSANDRA_START_RPC: "true"
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "describe keyspaces"]
      interval: 30s
      timeout: 10s
      retries: 5

  flink-jobmanager:
    image: flink:1.18-scala_2.12
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      - JOB_MANAGER_RPC_ADDRESS=flink-jobmanager
    command: jobmanager

  flink-taskmanager:
    image: flink:1.18-scala_2.12
    depends_on:
      - flink-jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=flink-jobmanager
    command: taskmanager

  dq-python:
    build: ./dq
    container_name: data_quality_service
    depends_on:
      - kafka
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      INPUT_TOPIC: raw_input
      VALID_TOPIC: validated_input
      INVALID_TOPIC: dq_failures
    volumes:
      - ./dq:/app
  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    depends_on:
      - zookeeper
      - kafka
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    ports:
      - "8081:8081"
  anomaly-detector:
      build: ./dq
      command: python anomaly_detector.py
      environment:
        BOOTSTRAP_SERVERS: kafka:9092
        VALID_TOPIC: validated_input
        ANOMALY_TOPIC: anomalies      