-- ============================================
-- DQ contains only Flink SQL DDL/DML:
-- CREATE TABLE (if you add them)
-- CREATE VIEW dq_results_<table>
-- CREATE VIEW dq_metrics_<table>

-- ============================================
-- DQ RESULTS VIEW: customer
-- ============================================

CREATE VIEW dq_results_customer AS
SELECT
  t1.customer_id AS pk,
  t1.action,

  CASE
  WHEN t1.action = 'DELETE' THEN 'DELETE_EVENT'
  WHEN t1.action != 'DELETE' AND t2.customer_id IS NULL THEN 'MISSING_CLOUD'
  WHEN t1.action != 'DELETE' AND t1.hash_onprem != t2.hash_cloud THEN 'MISMATCH'
  ELSE 'VALID'
END AS dq_status,
  CASE
  WHEN t1.action = 'DELETE' THEN 'Delete event - hash comparison skipped'
  WHEN t1.action != 'DELETE' AND t2.customer_id IS NULL THEN 'Missing row in cloud Cassandra'
  WHEN t1.action != 'DELETE' AND t1.hash_onprem != t2.hash_cloud THEN 'Hash mismatch between DCs'
  ELSE 'OK'
END AS dq_reason,
  CURRENT_TIMESTAMP AS processing_time
FROM onprem.customer.events t1
LEFT JOIN cloud.customer.hash t2
  ON t1.customer_id = t2.customer_id;

-- ============================================
-- DQ METRICS VIEW: customer
-- ============================================

CREATE VIEW dq_metrics_customer AS
SELECT
  TUMBLE_START(processing_time, INTERVAL '10 SECONDS') AS window_start,

  'prod' AS env,
  'onprem' AS dc,
  'customer_onprem' AS table_name,
  'onprem.customer.events' AS topic_name,

  SUM(
  CASE WHEN t1.action = 'DELETE' THEN 1 ELSE 0 END
) AS `dq.cassandra.delete_count`,
SUM(
  CASE WHEN t1.action != 'DELETE' AND t2.customer_id IS NULL THEN 1 ELSE 0 END
) AS `dq.cassandra.missing_cloud`,
SUM(
  CASE WHEN t1.action != 'DELETE' AND t1.hash_onprem != t2.hash_cloud THEN 1 ELSE 0 END
) AS `dq.cassandra.hash_mismatch`

FROM dq_results_customer
GROUP BY
  TUMBLE(processing_time, INTERVAL '10 SECONDS'),
  env,
  dc,
  table_name,
  topic_name;

-- ============================================
-- DQ RESULTS VIEW: orders
-- ============================================

CREATE VIEW dq_results_orders AS
SELECT
  t1.order_id AS pk,
  t1.action,

  CASE
  WHEN t1.action = 'DELETE' THEN 'DELETE_EVENT'
  WHEN t1.action != 'DELETE' AND t2.order_id IS NULL THEN 'MISSING_CLOUD'
  WHEN t1.action != 'DELETE' AND t1.hash_onprem != t2.hash_cloud THEN 'MISMATCH'
  ELSE 'VALID'
END AS dq_status,
  CASE
  WHEN t1.action = 'DELETE' THEN 'Delete event - hash comparison skipped'
  WHEN t1.action != 'DELETE' AND t2.order_id IS NULL THEN 'Missing row in cloud Cassandra'
  WHEN t1.action != 'DELETE' AND t1.hash_onprem != t2.hash_cloud THEN 'Hash mismatch between DCs'
  ELSE 'OK'
END AS dq_reason,

  CURRENT_TIMESTAMP AS processing_time
FROM onprem.orders.events t1
LEFT JOIN cloud.orders.hash t2
  ON t1.order_id = t2.order_id;

-- ============================================
-- DQ METRICS VIEW: orders
-- ============================================

CREATE VIEW dq_metrics_orders AS
SELECT
  TUMBLE_START(processing_time, INTERVAL '10 SECONDS') AS window_start,

  'prod' AS env,
  'onprem' AS dc,
  'orders_onprem' AS table_name,
  'onprem.orders.events' AS topic_name,

  SUM(
  CASE WHEN t1.action = 'DELETE' THEN 1 ELSE 0 END
) AS `dq.cassandra.delete_count`,
SUM(
  CASE WHEN t1.action != 'DELETE' AND t2.order_id IS NULL THEN 1 ELSE 0 END
) AS `dq.cassandra.missing_cloud`,
SUM(
  CASE WHEN t1.action != 'DELETE' AND t1.hash_onprem != t2.hash_cloud THEN 1 ELSE 0 END
) AS `dq.cassandra.hash_mismatch`

FROM dq_results_orders
GROUP BY
  TUMBLE(processing_time, INTERVAL '10 SECONDS'),
  env,
  dc,
  table_name,
  topic_name;


========== Version 2 ==============================================
dq_result_orders will include:
action
order_id
hash_onprem
hash_cloud
dq_status
dq_reason
processing_time


CREATE VIEW dq_results_orders AS
SELECT
  *,
  CASE
    WHEN action != 'DELETE' AND hash_cloud IS NULL THEN 'INVALID'
    WHEN action != 'DELETE' AND hash_onprem <> hash_cloud THEN 'INVALID'
    ELSE 'VALID'
  END AS dq_status
FROM enriched_events_orders;

-----
CREATE VIEW enriched_events_orders AS
SELECT
  t1.order_id,
  t1.action,
  t1.hash AS hash_onprem,
  t2.hash AS hash_cloud,
  PROCTIME() AS processing_time
FROM topic1_orders t1
LEFT JOIN topic2_orders_hash t2
ON t1.order_id = t2.order_id;

---
CREATE VIEW dq_metrics_orders AS
SELECT
  TUMBLE_START(processing_time, INTERVAL '10' SECOND) AS window_start,

  'prod' AS env,
  'onprem' AS dc,
  'orders_onprem' AS table_name,
  'onprem.orders.events' AS topic_name,

  -- Deletes
  SUM(
    CASE WHEN action = 'DELETE' THEN 1 ELSE 0 END
  ) AS `dq.cassandra.delete_count`,

  -- Missing cloud row
  SUM(
    CASE
      WHEN action != 'DELETE'
       AND hash_cloud IS NULL
      THEN 1 ELSE 0
    END
  ) AS `dq.cassandra.missing_cloud`,

  -- Hash mismatch
  SUM(
    CASE
      WHEN action != 'DELETE'
       AND hash_onprem IS NOT NULL
       AND hash_cloud IS NOT NULL
       AND hash_onprem <> hash_cloud
      THEN 1 ELSE 0
    END
  ) AS `dq.cassandra.hash_mismatch`

FROM dq_results_orders
GROUP BY
  TUMBLE(processing_time, INTERVAL '10' SECOND),
  env,
  dc,
  table_name,
  topic_name;
  
  
