CREATE VIEW IF NOT EXISTS dq_results AS
SELECT
  id,
  ts AS event_ts,
  value,
  row_hash,
  raw_json AS event_json,
  CASE
  WHEN (FALSE) THEN 'INVALID'
  WHEN (FALSE) THEN 'INVALID'
  WHEN (FALSE) THEN 'INVALID'
  WHEN (FALSE) THEN 'INVALID'
  WHEN (FALSE) THEN 'INVALID'
  WHEN (FALSE) THEN 'INVALID'
  ELSE 'VALID'
END AS dq_status,
  CASE
  WHEN (FALSE) THEN ''
  WHEN (FALSE) THEN ''
  WHEN (FALSE) THEN ''
  WHEN (FALSE) THEN ''
  WHEN (FALSE) THEN ''
  WHEN (FALSE) THEN ''
  ELSE 'OK'
END AS dq_reason
FROM enriched_events;

