CREATE VIEW IF NOT EXISTS dq_results AS
SELECT
  id,
  ts,
  value,
  row_hash,
  event_json,
  CASE
  WHEN (id IS NULL OR ts IS NULL OR value IS NULL) THEN 'INVALID'
  WHEN (value < 0) THEN 'INVALID'
  WHEN (ts < (NOW() - INTERVAL '86400' SECOND)) THEN 'QUARANTINE'
  WHEN (NOT (email IS NULL) AND NOT REGEXP_LIKE(email, '^[^@\s]+@[^@\s]+\.[^@\s]+$')) THEN 'INVALID'
  ELSE 'VALID'
END AS dq_status,
  CASE
  WHEN (id IS NULL OR ts IS NULL OR value IS NULL) THEN 'missing required field(s)'
  WHEN (value < 0) THEN 'value must be >= 0'
  WHEN (ts < (NOW() - INTERVAL '86400' SECOND)) THEN 'event older than 1 day'
  WHEN (NOT (email IS NULL) AND NOT REGEXP_LIKE(email, '^[^@\s]+@[^@\s]+\.[^@\s]+$')) THEN 'invalid email'
  ELSE 'OK'
END AS dq_reason
FROM enriched_events;

